{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
  <div class="container mt-4">

    <h1>Edit Post</h1>

    {{ include('admin/post/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    
    {{ include('admin/joueur/_delete_form.html.twig') }}


    <a href="{{ path('admin_post_index') }}">revenir liste</a>
 </div>

    {# {{ include('post/_delete_form.html.twig') }} #}
{% endblock %}
