{% extends 'base.html.twig' %}

{% block title %}Editer Entraineur{% endblock %}

{% block body %}
    <h1>Editer Entraineur</h1>
<div class='container mt-4'>

            {{ include('admin/entraineur/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
           <div class='mt-4'>
            {{ include('admin/entraineur/_delete_form.html.twig') }}
           </div>

        <div class='mt-4'>
            <a href="{{ path('admin_entraineur_index') }}"> &#60 &#60 Revenir liste</a>
        </div>
</div>
{% endblock %}
