{% extends 'base.html.twig' %}

{% block title %}New Entraineur{% endblock %}

{% block body %}
    <h1>Nouveau Entraineur</h1>

    <div class="container mt-4">
    <div class="mb-2">
    {{ include('admin/entraineur/_form.html.twig') }}
    </div>

    <a href="{{ path('admin_entraineur_index') }}">&#60&#60 revenir liste</a>
    </div>
{% endblock %}
